@import 'bootstrap';
@import 'bootstrap/theme';
@import 'variables';
@import 'mixins';

body {
  font-size: 18px;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 650px;
}

.hidden :not(:first-child) {
  display: none;
}

.item {
  list-style-position: inside;
}

.done {
  text-decoration: line-through;
}
