.listr {
  font-size: 18px;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 650px;
}

.list-detail-hidden :not(:first-child) {
  display: none;
}

.list-header:hover, .list-item:hover {
  cursor: pointer;
}

.list-item {
  list-style: none;
}

.list-item-completed > :first-child {
  text-decoration: line-through;
}
