.disabled {
  opacity: 0.4;
  cursor: default;
  text-decoration: none;
}

.disabled:hover {
  cursor: default;
  text-decoration: none;
}

.listr {
  font-size: 18px;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 650px;
}

.list-detail-hidden :not(:first-child) {
  display: none;
}

.list-header:hover, .list-item:hover {
  cursor: pointer;
}

.list-item {
  list-style: none;
}

.list-item-completed > .list-item {
  text-decoration: line-through;
}
