{{#link-to 'list' list }}
  <h3 class="list-header">{{list.title}}</h3>
{{/link-to}}
<button class="btn btn-primary" {{action 'edit'}}>
  Edit
</button>
{{#if list.isEmpty}}
  <button class="btn btn-danger" {{action 'delete'}}>
  Delete
  </button>
{{/if}}
