<form {{action 'save' on='submit' }}>
  {{input placeholder='List Title'
          class='input-group form-control'
          value=list.title
        }}
  <button type="submit" class="btn btn-xs btn-primary">Save</button>
  <button {{action 'cancel'}} class="btn btn-xs btn-danger">Cancel</button>
</form>
